body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }
    .calculator {
    background-color: darkslategray;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    }
    .keys {
    background-color: cornsilk;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    }
    button {
    padding: 10px;
    font-size: 20px;
    }
    